body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background: linear-gradient(to left,rgba(188, 24, 136,1)0%,rgba(75, 22, 188,1)100%)
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
